<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>buyOrders</title>
</head>
<body>
<h1>buyOrders</h1>
<table>
    <tr>
        <th>ID</th>
        <th>UnitType</th>
        <th>status</th>
        <th>num items</th>
        <th>supplier</th>
    </tr>
    <tr th:each="item:${buyOrders}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.unitType}"></td>
        <td th:text="${item.status}"></td>
        <td th:text="${item.getItems().size()}"></td>
        <td th:text="${item.getSupplier().getName()}"></td>
    </tr>
</table>

</body>
</html>
