<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>comunications</title>
</head>
<body>
<h1>comunications</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    <tr th:each="item:${comunications}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.value}"></td>
    </tr>
</table>

</body>
</html>    