<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>contracts</title>
</head>
<body>
<h1>contracts</h1>
<table>
    <tr>
        <th>ID</th>
        <th>initDate</th>
        <th>endDate</th>
    </tr>
    <tr th:each="item:${contracts}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.initDate}"></td>
        <td th:text="${item.endDate}"></td>
    </tr>
</table>

</body>
</html> 