<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>inventories</title>
</head>
<body>
<h1>inventories</h1>
<table>
    <tr>
        <th>ID</th>
        <th>quantity</th>
        <th>status</th>
        <th>item</th>
        <th>warehouse</th>
    </tr>
    <tr th:each="item:${inventories}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.status}"></td>
        <td th:text="${item.getItem().getName()}"></td>
        <td th:text="${item.getWarehouse().getName()}"></td>
    </tr>
</table>

</body>
</html>    