<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>registerIncs</title>
</head>
<body>
<h1>registerIncs</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>quantification</th>
        <th>incident</th>
        <th>num employees</th>
        <th>num areas</th>
    </tr>
    <tr th:each="item:${registerIncs}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.quantification}"></td>
        <td th:text="${item.getIncident().getName()}"></td>
        <td th:text="${item.getEmployees().size()}"></td>
        <td th:text="${item.getAreas().size()}"></td>
    </tr>
</table>

</body>
</html>    