<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>subcategories</title>
</head>
<body>
<h1>subcategories</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
    </tr>
    <tr th:each="item:${subcategories}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.code}"></td>
    </tr>
</table>

</body>
</html>    