<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>trainings</title>
</head>
<body>
<h1>trainings</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Skill</th>
    </tr>
    <tr th:each="item:${trainings}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.skill}"></td>
    </tr>
</table>

</body>
</html>    